
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  


  #myBox {
    background-color: yellow; 
    padding: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 400px; 
    height: 300px;
    margin: 10px;

  }


  #myBoxRot {
    background-color: blue; 
    padding: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 400px; 
    height: 300px;
    margin: 10px;
  }


  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: bisque;
  }
  
  .box {
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    margin: 2rem 0.5rem;
  }


  #dragAnim {
    background-color: green; 
    padding: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 400px; 
    height: 300px;
    margin: 10px;
  }